{
  "swagger": "2.0",
  "info": {
    "title": "Comment",
    "description": "This is a comment api",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "comment.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/comment/": {
      "get": {
        "summary": "retrieves all comments",
        "description": "pulls all comments, with filter by keyword",
        "operationId": "getComments",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across comment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "comment response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/comment"
              }
            }
          }
        },
        "tags": [
          "comment",
          "commentging"
        ]
      },
      "post": {
        "summary": "add comment",
        "description": "add a new comment",
        "operationId": "addComment",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name of the comment",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the comment",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the comment",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the comment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "comment response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/comment"
              }
            }
          }
        },
        "tags": [
          "comment",
          "commentging"
        ]
      }
    },
    "/comment/{slug}": {
      "get": {
        "summary": "Retrieve a comment using its slug",
        "description": "Returns the comment detail",
        "operationId": "getComment",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "slug for the comment, notice this is in the path, not a query variable",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "comment response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/comment"
              }
            }
          }
        },
        "tags": [
          "comment",
          "commentging"
        ]
      },
      "put": {
        "summary": "update comment",
        "description": "update comment",
        "operationId": "updateComment",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the comment",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of the comment",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the comment",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the comment",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the comment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "comment response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/comment"
              }
            }
          }
        },
        "tags": [
          "comment",
          "commentging"
        ]
      },
      "delete": {
        "summary": "delete comment",
        "description": "deletes an comment",
        "operationId": "deleteComment",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the comment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "comment response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/comment"
              }
            }
          }
        },
        "tags": [
          "comment",
          "commentging"
        ]
      }
    }
  },
  "definitions": {
    "comment": {
      "properties": {
        "name": {
          "description": "name of the comment",
          "type": "string"
        },
        "description": {
          "description": "description of the comment",
          "type": "string"
        },
        "url": {
          "description": "url for the comment",
          "type": "string"
        },
        "tags": {
          "description": "tags for the comment",
          "type": "string"
        },
        "slug": {
          "description": "slug for the comment",
          "type": "string"
        }
      }
    },
    "errorModel": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
